body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 230, 252);
}

.input-field {
    color: aliceblue;
    width: 100%;
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    background-color: purple;
    width: 300px;
    height: fit-content;
    padding: 30px;
    border-radius: 30px;
    border: solid rgb(71, 13, 73) 3px;
}

input {
    border-radius: 10px;
    padding: 8px;
    border: none;
}

input[type="submit"] {
    align-self: center;
    padding: 8px 30px;
    background-color: rgb(247, 247, 247);
    font-weight: bold;
}

#get-body {
    background-color: rgb(230, 252, 244);
}

#get-form {
    background-color: green;
    border: solid rgb(7, 74, 19) 3px;
}